table.sjs-table > tbody > tr:first-child > td {
    background-color: #083546;
    color:white;
    font-size: 12px;
 
}
table.sjs-table > tbody > tr> td {
margin: 2px;
font-size: 12px;

}
td{
    width: 350px
}