<div class="az-content-body az-content-body-invoice justify-content-center">
  <!--<div id="print">
    <div class="card card-invoice">
      <div class="card-body body">



        <div class="row mg-t-20 body hadd">
          <div class="col-md-12 billpad justify-content-center">
            <h2 style="text-align: center;">Ecovista Industries Pvt Ltd</h2>
          </div>
        </div>

        <h1 class="invoice-title" style="text-align: center;">Weightment Slip</h1>

        <div class="row mg-t-20 body hadd">
          <div class="col-md-12 billpad">
            <span>Date: </span>
            <span>{{date}}</span>
          </div>
        </div>
        <hr>

        <div class="row mg-t-20 body hadd">
          <div class="col-md-6 billpad"> 
            <span>Vehicle No: </span>
            <span>{{form.vehicle}}</span>
          </div>
          <div class="col-md-6 billpad"> 
            <span>Gatepass No: </span>
            <span>{{form.gatepass}}</span>
          </div>
        </div>

        <div class="row mg-t-20 body hadd">
          <div class="col-md-6 billpad"> 
            <span>Entry Date: </span>
            <span>{{form.entrytime}}</span>
          </div>
          <div class="col-md-6 billpad"> 
            <span>Entry Weight: </span>
            <span>{{form.entryweight}} Kg</span>
          </div>
        </div>

        <div class="row mg-t-20 body hadd">
          <div class="col-md-6 billpad"> 
            <span>Exit Date: </span>
            <span>{{form.exittime}}</span>
          </div>
          <div class="col-md-6 billpad"> 
            <span>Exit Weight: </span>
            <span>{{form.exitweight}} Kg</span>
          </div>
        </div>

        <hr>
        <div class="row mg-t-20 body hadd">
          <div class="col-md-6 billpad"> 
          </div>
          <div class="col-md-6 billpad"> 
            <span>Net Weight: </span>
            <span>{{netweight}} Kg</span>
          </div>

        </div>
        <hr>
        <div class="row mg-t-20 billed-to">
          <div class="col-md-12 ">
            <span>In words: </span>
            <span>{{words}}</span>
          </div>
        </div>
        <hr>
        <div class="row mg-t-20 body hadd">
          <div class="col-md-6 billpad"> 
            <p>Thank You.Visit Again </p>
            <p>Check the weight before vehicle leaving the platform. </p>
          </div>
          <div class="col-md-6 billpad"> 
            <br>
            <br>
            <br>
            <p style="text-align: right;">_________________________________</p>
            <p style="text-align: right;">Authorize Signatory</p>
          </div>

        </div>
      </div>

    </div>

  </div>-->


  

  <div class="container">
    <div class="center">

      <!-- <div id="print" style="width:1024px;justify-content: center;">
        <div class="card card-invoice ;justify-content: center;">
          <div class="row mg-t-20 body hadd;justify-content: center">
            <div class="card-body body ;justify-content: center" style="border: 1px solid rgb(0, 0, 0);border-top: 25px solid rgb(85, 11, 188);background-color: white;">
              <div class="row mg-t-20 body hadd">
                <div class="col-md-9 billpad"> 
                  <div class="row" style="padding-top:40px">
                    <div class="col-md-12"> 
                      <span style="
                      color: rgba(57, 18, 198, 0.715);
                      font-size: 80px;
                      text-align: center;
                      font-weight: bold;
                      font-family: 'Times New Roman', Times, serif;
                      ">
                      Ecovista
                      </span>
                    </div>

                  </div>
                  <div class="row" style="padding-top:40px">
                    <div class="col-md-12"> 
                      <span style="
                      color: rgba(57, 18, 198, 0.715);
                      font-size: 60px;
                      text-align: center;
                      font-family: 'Times New Roman', Times, serif;
                      ">
                      Industries
                      </span>
                    </div>

                  </div>
                  <div class="row" style="padding-top:20px">
                    <div class="col-md-12"> 
                      <span style="
                      color: rgba(0, 0, 0, 0.715);
                      font-size: 16px;
                      text-align: left;
                      font-family: Verdana, Geneva, Tahoma, sans-serif;
                      ">
                      <p style="color: black">Ajurawa, Village,Gezawa</p>
                      <p style="color: black">Near Unifoam Factory on Hadeja Road</p>
                      <p style="color: black">Ph No.- +234-7017932062</p>
                      </span>
                    </div>

                  </div>
                  
                 
                   
                </div>
                <div class="col-md-3 billpad"> 
                  <div class="row" style="padding-top:10px">
                    <div class="col-md-12"> 
                      <img src="/assets/images/ecovista_logo.png">
                    </div>  
                  </div>
                  <div class="row" style="padding-top:10px">
                    <div class="col-md-12"> 
                      <span style="
                      color: rgba(0, 0, 0, 0.996);
                      font-size: 20px;
                      text-align: center;
                      font-family: Verdana, Geneva, Tahoma, sans-serif;
                      ">
                       {{date}}
                      </span>
                    </div>  
                  </div>
                  
                  
                </div>
              </div>

              <div class="row mg-t-20 body hadd">
                <div class="col-md-12" style="font-family: Verdana, Geneva, Tahoma, sans-serif"> 
                  <p class="invoice-info-row">
                    <span style="width: 200px; color: black">Gate Pass No:</span>
                    <span style="width: 200px; color: black">{{form.gatepass}}</span>
                  </p>
                  <p class="invoice-info-row">
                    <span style="width: 200px;color: black">Product:</span>
                    <span style="width: 200px;color: black">{{form.product}}</span>
                  </p>
                  <p class="invoice-info-row">
                    <span style="width: 200px;color: black">Truck No:</span>
                    <span style="width: 200px;color: black">{{form.vehicle}}</span>
                  </p>
                </div>

              </div>
              <hr>

              <div class="row mg-t-20 body hadd">
                <div class="col-md-12" style="font-family: Verdana, Geneva, Tahoma, sans-serif"> 

                <table class="table table-invoice" style="border: 1px solid">
                  <thead>
                    <tr style="border: 1px solid">
                      <th class="wd-40p" style="color: black;border: 1px solid "></th>
                      <th class="wd-40p" style="color: black;border: 1px solid ">Date & Time</th>
                      <th class="wd-40p" style="color: black;border: 1px solid ">Weight</th>
                      <th class="wd-40p" style="color: black;border: 1px solid ">(Kg)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td  style="color: black ;border: 1px solid ">Date First Weight :</td>
                      <td class="tx-12"  style="color: black ;border: 1px solid ">{{form.entrytime}} </td>
                      <td class="tx-12"  style="color: black ;border: 1px solid ">1st Weight :</td>
                      <td class="tx-right"  style="color: black ;border: 1px solid ">{{form.entryweight}} </td>
                    </tr>
                    <tr>
                      <td  style="color: black ;border: 1px solid ">Date Second Weight :</td>
                      <td class="tx-12"  style="color: black ;border: 1px solid ">{{form.exittime}} </td>
                      <td class="tx-12"  style="color: black;border: 1px solid ">2nd Weight :</td>
                      <td class="tx-right"  style="color: black ;border: 1px solid ">{{form.exitweight}} </td>
                    </tr>
                    <tr>
                      <td colspan="2" rowspan="4" class="valign-middle ;" style="color: black ;border: 1px solid ">
                        <div class="invoice-notes">
                          <label class="az-content-label tx-13"></label>
                          <p> </p>
                        </div>
                      </td>
                      <td class="tx-left"  style="color: black;border: 1px solid ">NET WEIGHT</td>
                      <td colspan="2" class="tx-right"  style="color: black;border: 1px solid ">{{netweight}}</td>
                    </tr>
                    
                  </tbody>
                </table>
                
              
                </div>

              </div>
              <div class="row mg-t-20 body hadd">
                <div class="col-md-8" style="font-family: Verdana, Geneva, Tahoma, sans-serif"> 
                  <p  style="color: black">www.ecovistaind.com </p>
                  <p  style="color: black">info@ecovistaind.com</p>
                  <p  style="color: black">234-7017932062</p>
                </div> 
                <div class="col-md-4" style="font-family: Verdana, Geneva, Tahoma, sans-serif"> 
                  <br>
                  <p style="text-align: center;">_________________________________</p>
                  <p align="center" style="color: black">Authorize Signatory</p>
                </div> 


              </div>

              

            </div>
          </div>
        </div>
      </div> -->

      <div id="print" style="width:1024px;justify-content: center;">
        <div class="card card-invoice ;justify-content: center;">
          <div class="card-body body ;justify-content: center" style="border: 1px solid rgb(0, 0, 0);background-color: white;">
             
              <div class="row mg-t-20 body hadd">

                <div class="col-md-4 mg-t-20"  style="border: 1px solid;text-align: center;" *ngFor="let item of itemlist"> 
                  <span style="
                  color: rgba(57, 18, 198, 0.715);
                  font-size: 16px;
                  text-align: center;
                  font-weight: bold;
                  font-family: 'Times New Roman', Times, serif;
                  ">
                   Ecovista
                  </span>
                  <!-- <ngx-barcode 
                  [bc-value]="item" [bc-display-value]="true"  [bc-width]="0.5"  [bc-margin]="10"
                  [bc-font-size]="fontSize"  [bc-height]="22"></ngx-barcode> -->
                </div>
                

              </div>
            
            
          </div>
        </div>
      </div>


    </div>
  </div>



</div> 

<hr>



<div class="az-content-body az-content-body-invoice">
  <div class="card card-invoice">
    <div class="card-body">
      <div class="row row-sm justify-content-center">
      <div class="col-md-2">
        <div class="form-group">
          <!--<button style="margin-left: 20px;" printSectionId="print" ngxPrint styleSheetFile="assets/css/invoicestyle.css" class="btn btn-primary"><i class="icofont icofont-printer"></i>PRINT
          </button>-->
          <!--<button style="margin-left: 20px;" printSectionId="print" ngxPrint [useExistingCss]="true"
            class="btn btn-primary"><i class="icofont icofont-printer"></i>PRINT
           </button>-->
           <button type="button" (click)="print()"
           class="btn btn-primary btn-md btn-block waves-effect text-center">PRINT
           </button>
        </div>
      </div>
    </div>


    </div><!-- card-body -->
  </div><!-- card -->
</div><!-- az-content-body -->
